ErrorDocument 404 /themes/discord/templates/404/index.php
<IfModule mod_rewrite.c>
  RewriteEngine On
RewriteRule ^api/v6/science/?$ /api/science.php [NC,L]
RewriteRule ^api/v6/experiments/?$ /api/experiments.php [NC,L]
RewriteRule ^api/v6/applications/detectable/?$ /api/decta.php [NC,L]
RewriteRule ^api/v6/auth/login/?$ /api/login/logando.php [NC,L]
RewriteRule ^api/v6/gateway/?$ /api/login/gateway.php [NC,L]
RewriteRule ^login/?$ /themes/discord/templates/home/login.php [NC,L]
RewriteRule ^register/?$ /themes/discord/templates/home/register.php [NC,L]
RewriteRule ^activity/?$ /themes/discord/templates/home/login.php [NC,L]
RewriteRule ^channels/(.*)$ /themes/discord/templates/home/login.php [L]
RewriteRule ^api/v6/invite/(.*)?$ /api/joingroup.php [NC,L]
RewriteRule ^api/v6/auth/logout?$ /api/logout.php [NC,L]
</IfModule>