ErrorDocument 404 /themes/discord/templates/404/index.php
<IfModule mod_rewrite.c>
  RewriteEngine On
RewriteRule ^api/v6/science/?$ /api/science.php [NC,L]
RewriteRule ^api/v6/science/?$ /api/experiments.php [NC,L]
RewriteRule ^api/experiments/?$ /api/exp.php [NC,L]
RewriteRule ^api/v6/voice/ice/?$ /api/voice.php [NC,L]
RewriteRule ^api/v6/channels/(.*)?/invites$ /api/invite.php [NC,L]
RewriteRule ^api/v6/experiments/?$ /api/experiments.php [NC,L]
RewriteRule ^api/v6/applications/detectable/?$ /api/decta.php [NC,L]
RewriteRule ^api/v6/users/@me/activities/statistics/applications?$ /api/aplica.php [NC,L]
RewriteRule ^api/v6/gifs/?$ /api/gif.php [NC,L]
RewriteRule ^api/v6/users/@me/library?$ /api/library.php [NC,L]
RewriteRule ^api/v6/auth/login?$ /api/login/logando.php [NC,L]
RewriteRule ^api/v6/auth/register?$ /api/register/registro.php [NC,L]
RewriteRule ^api/v6/auth/consent-required?$ /api/register/required.php [NC,L]
RewriteRule ^api/v6/channels/(.*)?/messages?$ /api/typing.php?channel=$1 [NC,L]
RewriteRule ^api/v6/gateway?$ /api/login/gateway.php [NC,L]
RewriteRule ^api/v6/promotions$ /api/ads.php [NC,L]
RewriteRule ^api/v6/activities?$ /api/atividade.php [NC,L]
RewriteRule ^api/v6/store/directory?$ /api/shop.php [NC,L]
RewriteRule ^login/?$ /themes/discord/templates/home/login.php [NC,L]
RewriteRule ^register/?$ /themes/discord/templates/home/login.php [NC,L]
RewriteRule ^activity/?$ /themes/discord/templates/home/login.php [NC,L]
RewriteRule ^channels/(.*)$ /themes/discord/templates/home/login.php [L]
RewriteRule ^app?$ /themes/discord/templates/home/login.php [L]
RewriteRule ^library$ /themes/discord/templates/home/login.php [L]
RewriteRule ^api/v6/invite/(.*)?$ /api/joingroup.php [NC,L]
RewriteRule ^api/v6/auth/logout?$ /api/logout.php [NC,L]
RewriteRule ^api/v6/users/(.*)?$ /api/friend.php [NC,L]
RewriteRule ^api/v6/voice/regions/?$ /api/region.php [NC,L]
RewriteRule ^nitro$ /themes/discord/templates/home/home.php [L]
</IfModule>